In [97]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from dotenv import load_dotenv
import os

In [98]:
df = pd.read_csv("../data/raw/bbc_data.csv")
print(df['labels'].value_counts())
print(df.head())

labels
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64
                                                data         labels
0  Musicians to tackle US red tape  Musicians gro...  entertainment
1  U2s desire to be number one  U2, who have won ...  entertainment
2  Rocker Doherty in on-stage fight  Rock singer ...  entertainment
3  Snicket tops US box office chart  The film ada...  entertainment
4  Oceans Twelve raids box office  Oceans Twelve,...  entertainment

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    2225 non-null   object
 1   labels  2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [100]:
load_dotenv()
username = os.getenv("postgreUsername")
password = os.getenv("postgrePassword")

In [101]:
DATABASE_URL = f"postgresql://{username}:{password}@localhost:5432/news"
engine = create_engine(DATABASE_URL)
session = sessionmaker(bind=engine)
import pandas as pd
import psycopg2

records = list(df.itertuples(index=False, name=None))

insert_query = "INSERT INTO documents (data, labels) VALUES (%s, %s)"

db_connection = psycopg2.connect(
    host='localhost',
    database="news",
    user=username,
    password=password
)

cursor = db_connection.cursor()
cursor.executemany(insert_query, records)
db_connection.commit()
cursor.close()
# db_connection.close()

In [102]:
df_2 = pd.read_sql("SELECT * FROM public.stg_document", con=db_connection)

# (Optional) Close the connection
db_connection.close()

# Show the DataFrame
df_2.head()

C:\Users\hoang\AppData\Local\Temp\ipykernel_26564\2329666426.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2 = pd.read_sql("SELECT * FROM public.stg_document", con=db_connection)

,id,data,actual_label,text_length,word_count,processed_at
0,1,$1m payoff for former Shell boss Shell is to ...,business,1424,241,2025-08-04 09:36:51.711839+00:00
1,2,$1m payoff for former Shell boss Shell is to ...,business,1424,241,2025-08-04 09:36:51.711839+00:00
2,3,$1m payoff for former Shell boss Shell is to ...,business,1424,241,2025-08-04 09:36:51.711839+00:00
3,4,&#163;1.8m indecency fine for Viacom Media gi...,entertainment,1470,238,2025-08-04 09:36:51.711839+00:00
4,5,&#163;1.8m indecency fine for Viacom Media gi...,entertainment,1470,238,2025-08-04 09:36:51.711839+00:00